@model LabortaryManagementSystem.Models.SubTestMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubTestMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestMaster.TestMasterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestMaster.TestMasterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTestName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubTestMasterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
