@model IEnumerable<LabortaryManagementSystem.Models.SubTestMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestMaster.TestMasterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTestName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestMaster.TestMasterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTestName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubTestMasterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubTestMasterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubTestMasterId })
        </td>
    </tr>
}

</table>
